body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr;
    height:100vh; 
    color: #3b4a6b;
    justify-content: center;
    grid-gap: 1em;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    grid-template-areas: 
    "hd hd"
    "first sec"
    "btn msg"
    "res res";
}

.holder{
    grid-area: hd;
}

.entry{
    grid-area: res;
    border-top: solid 2px #3b4a6b;
    justify-content: center;
}

.zip{
    grid-area: first;
}

.feel{
    grid-area: sec;
}

#generate{
    grid-area: btn;
}

#entryHolder{
    display: grid;
    grid-template-areas: 
    "date"
    "temp"
    "content";
    grid-gap: 10px;
    justify-content: center;
}

#date{
    grid-area: date;
}

#temp{
    grid-area: temp;
}

#content{
    grid-area: content;
}

.headline {

}
.title{


}

#error{
    grid-area: msg;
    color: red;
    display: none;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display: block;
    font-size: 20px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    color: grey;
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

button{
    width: 300px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    color: grey;
    border: 2px solid black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: grey; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: grey; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: grey; 
    font-family: 'Oswald', sans-serif;

} 